<!doctype html>
<!-- WhileTeam -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{(pageTitle is empty ? '' : pageTitle ~ ' | ') ~ config.global.siteName }}</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700|Ubuntu+Mono:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">

{% block content %}{% endblock %}

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
{% block additionalJs %}{% endblock %}
</body>
<!-- /WhileTeam -->
</html>