{% extends 'controllers/admin/settings.twig' %}

{% set pageTitle = 'Редактирование пользователя' %}
{% set settingsId = 'users' %}
{% block settingsContent %}
    <form action="/settings/users/add" method="post" data-ajax>
        <h2 class="font-weight-light">Создание пользователя</h2>

        <div class="form-group">
            <label for="email">E-Mail:</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="text" class="form-control" name="password" id="password" required>
        </div>

        <div class="form-group border p-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="is_admin"
                       name="is_admin">
                <label class="custom-control-label text-danger font-weight-bold" for="is_admin">
                    Сделать этого пользователя администратором?
                </label>
                <div class="text-muted">
                    Отключит для этого пользователя все ограничения и даст доступ к администрированию сайта
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">Сохранить</button>
    </form>
{% endblock %}