{% extends 'controllers/admin/settings.twig' %}

{% set pageTitle = 'Редактирование пользователя' %}
{% set settingsId = 'users' %}
{% block settingsContent %}
    {% if data.user != false %}
        <form action="/settings/users/edit/{{ data.user.uid }}" method="post" data-ajax>
            <h2 class="font-weight-light">Редактирование пользователя #{{ data.user.uid }}:</h2>

            <div class="form-group">
                <label for="email">E-Mail:</label>
                <input type="email" name="email" id="email" class="form-control" required value="{{ data.user.email }}">
            </div>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="changePassword" name="changePassword"
                           onchange="$('#password').prop('disabled', !$('#password').prop('disabled'))">
                    <label class="custom-control-label" for="changePassword">Изменить пароль?</label>
                </div>
                <input type="text" class="form-control" name="password" id="password" disabled dontChangeState>
            </div>

            {% if data.user.first_seen is not empty %}
                <div class="form-group">
                    <label for="first_seen">Дата регистрации:</label>
                    <input type="text" id="first_seen" class="form-control" disabled
                           value="{{ data.user.first_seen|date("d.m.Y H:i:s") }}">
                </div>
            {% endif %}

            {% if data.user.last_seen is not empty %}
                <div class="form-group">
                    <label for="last_seen">Последний визит:</label>
                    <input type="text" id="last_seen" class="form-control" disabled
                           value="{{ data.user.last_seen|date("d.m.Y H:i:s") }}">
                </div>
            {% endif %}

            <div class="form-group border p-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="is_admin"
                           name="is_admin" {{ data.user.is_admin == 1 ? 'checked' }}>
                    <label class="custom-control-label text-danger font-weight-bold" for="is_admin">Сделать этого
                        пользователя администратором?</label>
                    <div class="text-muted">
                        Отключит для этого пользователя все ограничения и даст доступ к администрированию сайта
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-block">Сохранить</button>
        </form>
    {% else %}
        <p class="h4 text-center text-danger m-2 d-block">Пользователь не найден!</p>
    {% endif %}
{% endblock %}