{% extends 'controllers/admin/settings.twig' %}

{% set pageTitle = 'Список пользователей' %}
{% set settingsId = 'users' %}
{% block settingsContent %}
    <div class="mb-2">
        <a class="btn btn-success btn-block" href="/settings/users/add">Добавить нового пользователя</a>
    </div>

    <table class="table mb-0">
        <thead class="text-uppercase">
        <tr>
            <th>#</th>
            <th>E-Mail</th>
            <th class="text-center">Дата регистрации</th>
            <th class="text-center">Последний визит</th>
            <th class="text-muted text-center">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for user in data.users %}
            <tr>
                <td>{{ user.uid }}</td>
                <td>
                    {% if user.uid == core.user.uid %}
                        <span class="badge badge-secondary fix-topMargin t-2" data-toggle="tooltip" title="Это вы">U</span>
                    {% endif %}
                    {% if user.is_admin == 1 %}
                        <span class="badge badge-success fix-topMargin t-2" data-toggle="tooltip" title="Этот пользователь является администратором">A</span>
                    {% endif %}
                    <span class="selectable">{{ user.email }}</span>
                </td>
                <td class="selectable text-center">{{ user.first_seen|date("d.m.Y H:i:s") }}</td>
                <td class="selectable text-center">{{ user.last_seen|date("d.m.Y H:i:s") }}</td>
                <td class="text-center">
                    <a class="text-info" href="/settings/users/edit/{{ user.uid }}">Редактировать</a>
                    <span class="text-muted">|</span>
                    <form action="/settings/users/delete/{{ user.uid }}" method="post" data-ajax class="d-inline-block" data-confirm="Вы действительно хотите удалить пользователя {{ user.email }}?">
                        <button type="submit" class="text-danger border-0 bg-transparent d-inline-block">Удалить</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <th colspan="5" class="text-center text-danger">Ещё не создано ни одного пользователя :c</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}