* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, textarea {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    position: relative;
}

body {
    position: relative;
    background-color: #ecf0f1;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a, button, .pointer {
    cursor: pointer;
}

.centeredContent {
    position: relative;
    width: 100%;
    height: 100%;
}

.centeredContent > .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem 0;
}

.centeredContent.only-w > .content {
    top: 0 !important;
    transform: none !important;
    margin: 0 auto;
}

@media(max-width: 767px) {
    .centeredContent > .content > .container-fluid,
    .centeredContent > .content > .container-fluid > .row > .col-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .centeredContent > .content > .container-fluid > .row {
        margin-left: 0;
        margin-right: 0;
    }

    .centeredContent > .content > .container-fluid .card:first-of-type {
        border-radius: 0;
    }
}

.console {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    background: rgba(45, 45, 45, 0.8);
    border-bottom-width: 0;
}

.console ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    display: block;
    overflow: auto;
    min-height: 440px;
    max-height: 440px;
    width: calc(100% + 1px);
}

/*noinspection CssUnknownProperty,CssOverwrittenProperties*/
.console ul > li {
    padding: 0.75rem 1.5rem;
    border-top: 1px solid rgba(150, 150, 150, 0.4);
    -webkit-transition: .2s background-color;
    -moz-transition: .2s background-color;
    -ms-transition: .2s background-color;
    -o-transition: .2s background-color;
    transition: .2s background-color;
    white-space: pre-line;
    white-space: pre-wrap;
    color: #ffffff;
    background-color: transparent;
    min-height: 50px;
    width: calc(100% - 1px);
}

.console ul > li > .time {
    color: #ffffff;
}

.console ul > li:hover {
    background-color: #3e3e3e;
}

.console ul > li.text-danger {
    color: #ff786e !important;
}

.console ul > li.text-info {
    color: #61dbef !important;
}

.console ul > li.text-success {
    color: #6ee088 !important;
}

.console ul > li.text-primary {
    color: #9eccfd !important;
}

.console ul > li:first-of-type {
    border-top-width: 0;
}

.console input {
    border-radius: 0;
    margin: 1px 0 0 -1px;
    line-height: 1.6;
}

.console .input-group-prepend {
    margin: 1px -1px -1px -1px;
}

.console .input-group-prepend > .input-group-text {
    font-size: 20px;
    position: relative;
    padding-top: 10px;
    height: calc(100% + -1px);
    border-radius: 0;
}

.console input ~ .input-group-append {
    margin-right: 0;
}

.console input[disabled],
.console button[disabled] {
    cursor: wait;
}

.c-wait {
    cursor: wait;
}

.tooltip-inner {
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    font-size: 16px;
    max-width: 300px;
}

.alert,
.console ul > li,
.console ul > li *,
.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.console ul > li,
.console input[type="text"] {
    font-family: 'Ubuntu Mono', monospace;
    word-spacing: -2px;
}

.fix-topMargin {
    position: relative;
    top: 2px;
}

.fix-topMargin.t-2 {
    top: -1px;
}

.fix-topMargin.t-3 {
    top: -3px;
}

.custom-control-label {
    margin-top: 1px;
}

.nav-item {
    position: relative;
}

.nav-item > .btnBadge {
    position: absolute;
    padding: 0 .4rem;
    right: 10px;
    top: 10px;
    z-index: 2;
}

.border-b-dashed {
    border-bottom: 1px dashed #dadada;
}

@media (max-height: 700px) {
    .centeredContent > .content {
        top: 0;
        transform: none;
    }
}
