{% extends 'global.twig' %}
{% set pageTitle = 'Авторизация' %}

{% block content %}
    <div class="centeredContent">
        <div class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-3">
                        <h1 class="h1 font-weight-light text-center text-uppercase mb-3">RCON Консоль</h1>

                        <div id="alertContainer"></div>

                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title h5 text-center">Авторизация</h2>
                                <hr>

                                <form action="/auth" method="post" id="authForm">

                                    <div class="form-group">
                                        <label for="username">E-Mail:</label>
                                        <input type="email" id="email" name="email" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Пароль:</label>
                                        <input type="password" id="password" name="password" class="form-control" required>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-block">Войти</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script src="/js/auth.js"></script>
{% endblock %}