{% extends 'global.twig' %}

{% block content %}
    <div class="centeredContent">
        <div class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1 class="font-weight-light text-danger mb-0">Страница не найдена!</h1>
                                <sub class="text-danger mt-0 d-block mb-1 h4 font-italic"><span
                                            class="text-muted">#</span>404</sub>
                                <hr>
                                <p class="mb-0 mt-1"><a href="/" title="Вернуться на главную">Вернуться на главную</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}