<!doctype html>
<!-- WhileTeam -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Установка скрипта / O-RCON</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700|Ubuntu+Mono:400,400i,700,700i&amp;subset=cyrillic"
      rel="stylesheet">

<div class="container-fluid">
    <div class="row justify-content-center pt-4 pb-4">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7">
            <h1 class="h1 font-weight-light text-center text-uppercase mb-3 mt-4">Установка скрипта</h1>

            <div class="card">
                <div class="card-body">
                    {% if data.message.text is not empty %}
                        {% if data.message.type == 'success' %}{% set class = 'success' %}
                        {% else %}{% set class = 'danger' %}{% endif %}
                        <div class="alert alert-{{ class }}">{{ data.message.text }}</div>
                    {% endif %}

                    <form action="/install.php" method="post">
                        <div class="form-group">
                            <label for="siteName">Название сайта:</label>
                            <input type="text" id="siteName" name="siteName" class="form-control" required
                                   value="{{ config.global.siteName }}">
                        </div>
                        <div class="form-group border p-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="debug"
                                       name="debug" {{ config.debug == true ? 'checked' }}>
                                <label class="custom-control-label text-danger font-weight-bold" for="debug">Включить
                                    отладку</label>
                                <div class="text-muted">
                                    Включает показ ошибок
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="db_host">Адрес базы данных:</label>
                            <input type="text" id="db_host" name="db_host" class="form-control" required
                                   value="{{ config.db.host }}">
                        </div>
                        <div class="form-group">
                            <label for="db_port">Порт базы данных:</label>
                            <input type="number" id="db_port" name="db_port" class="form-control" required
                                   value="{{ config.db.port }}">
                        </div>
                        <div class="form-group">
                            <label for="db_name">Название базы данных:</label>
                            <input type="text" id="db_name" name="db_name" class="form-control" required
                                   value="{{ config.db.name }}">
                        </div>
                        <div class="form-group">
                            <label for="db_user">Пользователь базы данных:</label>
                            <input type="text" id="db_user" name="db_user" class="form-control" required
                                   value="{{ config.db.user }}">
                        </div>
                        <div class="form-group">
                            <label for="db_pass">Пароль пользователя базы данных:</label>
                            <input type="password" id="db_pass" name="db_pass" class="form-control"
                                   value="{{ config.db.pass }}">
                        </div>

                        <hr>

                        <div class="form-group border p-3">
                            <p class="m-0">После установки будет создан пользователь-администратор с данными:</p>
                            <p class="font-weight-bold m-0 text-muted"><span class="selectable">admin@teste.ru</span> :
                                <span class="selectable">admin</span></p>
                        </div>

                        <button class="btn btn-success btn-block" type="submit">Продолжить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- /WhileTeam -->
</html>