{% extends 'controllers/admin/settings.twig' %}

{% set pageTitle = 'Настройка ограничений' %}
{% set settingsId = 'limits' %}
{% block settingsContent %}
    {# {% include 'timeouts.twig' %} #}
    <form action="/settings/limits" method="post" data-ajax>
        <h2 class="font-weight-light">Ограничения команд:</h2>

        <div class="form-group">
            <div class="custom-control custom-radio">
                <input type="radio" id="blockType_1" name="blockType" class="custom-control-input" value="1" {{ (data.blockType == 1) ? 'checked' }}>
                <label class="custom-control-label" for="blockType_1">Разрешить все команды кроме ниже
                    перечисленных</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="blockType_2" name="blockType" class="custom-control-input" value="2" {{ (data.blockType == 2) ? 'checked' }}>
                <label class="custom-control-label" for="blockType_2">Разрешить <u>только</u> ниже перечисленные команды</label>
            </div>
        </div>

        <div class="text-right">
            <button class="btn btn-outline-info pl-lg-4 pr-lg-4" type="button"
                    onclick="return addItem('#exampleCommandRow', '#commands', {{ data.commands|length }});">
                <span class="h4 fix-topMargin">&plus;</span> Добавить команду
            </button>
        </div>

        <div id="commands">
            {% for command in data.commands if command != '*' %}
                <div class="card mt-3 mb-3" data-id="{{ loop.index0 }}">
                    <div class="card-body">
                        <div class="input-group">
                            <input data-toggle="tooltip" title="Изменить команду" type="text"
                                   name="commands[{{ loop.index0 }}]" class="form-control"
                                   value="{{ command }}" id="commands[{{ loop.index0 }}]">
                            <div class="input-group-append" data-toggle="tooltip" title="Удалить">
                                <button class="btn btn-danger" onclick="return removeItem('#commands', {{ loop.index0 }})" type="button">x</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="h4 text-center text-danger m-2 d-block" data-list-empty>Вы ещё не добавили ни одной команды!</p>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-success btn-block">Сохранить</button>
    </form>

    <div id="exampleCommandRow" style="display: none;">
        <div class="card mt-3 mb-3" data-id="$id">
            <div class="card-body">
                <div class="input-group">
                    <input data-toggle="tooltip" title="Изменить команду" type="text"
                           name="commands[$id]" class="form-control"
                           id="commands[$id]">
                    <div class="input-group-append">
                        <button class="btn btn-danger" data-toggle="tooltip" title="Удалить" onclick="return removeItem('#commands', $id)" type="button">x</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}