{% extends 'controllers/admin/settings.twig' %}

{% set pageTitle = 'Основные настройки' %}
{% set settingsId = 'main' %}
{% block settingsContent %}
    <form action="/settings/main" method="post" data-ajax>
        <h2 class="font-weight-light">Основные настройки:</h2>
        <div class="form-group">
            <label for="siteName">Заголовок сайта:</label>
            <input type="text" class="form-control" name="siteName" id="siteName" required
                   value="{{ config.global.siteName }}">
        </div>

        <h2 class="font-weight-light">Настройки стиля:</h2>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="templateCache"
                       name="templateCache" {{ config.global.templateCache == true ? 'checked' }}>
                <label class="custom-control-label" for="templateCache">Включить кеширование
                    стилей</label>
            </div>
        </div>

        <h2 class="font-weight-light">Настройки базы данных:</h2>
        <div class="form-group">
            <label for="dbHost">Адрес:</label>
            <input type="text" class="form-control" name="dbHost" id="dbHost" required
                   value="{{ config.db.host }}">
        </div>
        <div class="form-group">
            <label for="dbPort">Порт:</label>
            <input type="number" step="1" class="form-control" name="dbPort" id="dbPort"
                   required
                   value="{{ config.db.port }}">
        </div>
        <div class="form-group">
            <label for="dbUser">Пользователь:</label>
            <input type="text" class="form-control" name="dbUser" id="dbUser" required
                   value="{{ config.db.user }}">
        </div>
        <div class="form-group">
            <label for="dbPass">Пароль:</label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="changeDBPass" name="changeDBPass"
                       onchange="$('#dbPass').prop('disabled', !$('#dbPass').prop('disabled'))">
                <label class="custom-control-label" for="changeDBPass">Изменить пароль?</label>
            </div>
            <input type="text" class="form-control" name="dbPass" id="dbPass" disabled dontChangeState>
        </div>
        <div class="form-group">
            <label for="dbName">Название базы данных:</label>
            <input type="text" class="form-control" name="dbName" id="dbName" required
                   value="{{ config.db.name }}">
        </div>

        <h2 class="font-weight-light">Настройки RCON:</h2>
        <div class="form-group">
            <label for="rconExecutorType">Тип работы с RCON:</label>
            <select name="rconExecutorType" id="rconExecutorType" class="form-control"
                    required>
                <option value="\O_RCON\App\Executors\QueryExecutor" {{ config.rcon.executor == '\\O_RCON\\App\\Executors\\QueryExecutor' ? 'selected' }}>
                    Один
                    запрос = одно подключение
                </option>
                <option value="\O_RCON\App\Executors\DaemonExecutor" {{ config.rcon.executor == '\\O_RCON\\App\\Executors\\DaemonExecutor' ? 'selected' }}>
                    Постоянное подключение в демоне (РЕКОМЕНДУЕТСЯ)
                </option>
            </select>
        </div>

        <div class="form-group border p-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="debug"
                       name="debug" {{ config.debug == true ? 'checked' }}>
                <label class="custom-control-label text-danger font-weight-bold" for="debug">Включить отладку</label>
                <div class="text-muted">
                    Включает показ ошибок и логгирует все действия демона, если он выбран как работающий класс с RCON, в
                    файл
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">Сохранить</button>
    </form>
{% endblock %}