{% extends 'controllers/admin/settings.twig' %}

{% set pageTitle = 'Настройки серверов' %}
{% set settingsId = 'servers' %}
{% block settingsContent %}
    <form action="/settings/servers" method="post" data-ajax>
        <div class="text-right">
            <button class="btn btn-outline-info pl-lg-4 pr-lg-4" type="button"
                    onclick="return addItem('#exampleServerItem', '#servers', {{ data.servers|length }});">
                <span class="h4 fix-topMargin">&plus;</span> Добавить сервер
            </button>
        </div>

        <div id="servers">
            {% for server in data.servers %}
                <div class="card mt-3 mb-3" data-id="{{ server.id }}">
                    <div class="card-body">
                        <label class="card-title h5"
                               for="servers[{{ server.id }}][title]"><span>{{ server.title }}</span> <span
                                    class="text-muted">[#{{ server.id }}]</span>
                        </label>

                        <div class="input-group">
                            <input data-toggle="tooltip" title="Изменить название" type="text"
                                   name="servers[{{ server.id }}][title]" class="form-control"
                                   value="{{ server.title }}" id="servers[{{ server.id }}][title]"
                                   onkeypress="$(this).parent().parent().find('label span:first-of-type').text($(this).val())"
                                   onchange="$(this).parent().parent().find('label span:first-of-type').text($(this).val())">
                            <input data-toggle="tooltip" title="Изменить IP" type="text"
                                   name="servers[{{ server.id }}][ip]" class="form-control" value="{{ server.ip }}">
                            <input data-toggle="tooltip" title="Изменить порт" type="text"
                                   name="servers[{{ server.id }}][port]" class="form-control" value="{{ server.port }}">
                            <input data-toggle="tooltip" title="Изменить пароль" type="text"
                                   name="servers[{{ server.id }}][pass]" class="form-control" value="{{ server.pass }}">
                            <div class="input-group-append">
                                <button class="btn btn-danger" data-toggle="tooltip" title="Удалить"
                                        onclick="return removeItem('#servers', {{ server.id }})" type="button">x
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="h4 text-center text-danger m-2 d-block" data-list-empty>Вы ещё не добавили ни одного
                    сервера!</p>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-success btn-block">Сохранить</button>
    </form>

    <div id="exampleServerItem" style="display: none;">
        <div class="card mt-3 mb-3" data-id="$id">
            <div class="card-body">
                <label class="card-title" for="servers[$id][title]"><span>Новый сервер</span></label>

                <div class="input-group">
                    <input data-toggle="tooltip" title="Изменить название" type="text" name="servers[$id][title]"
                           class="form-control" id="servers[$id][title]"
                           onkeypress="$(this).parent().parent().find('label span:first-of-type').text($(this).val())"
                           onchange="$(this).parent().parent().find('label span:first-of-type').text($(this).val())">
                    <input data-toggle="tooltip" title="Изменить IP" type="text" name="servers[$id][ip]"
                           class="form-control">
                    <input data-toggle="tooltip" title="Изменить порт" type="text" name="servers[$id][port]"
                           class="form-control">
                    <input data-toggle="tooltip" title="Изменить пароль" type="text" name="servers[$id][pass]"
                           class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-danger" data-toggle="tooltip" title="Удалить"
                                onclick="return removeItem('#servers', $id)" type="button">x
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}