{% extends 'global.twig' %}

{% block content %}
    <div class="centeredContent only-w">
        <div class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                        <h1 class="h1 font-weight-light text-center text-uppercase mb-3">Администрирование</h1>

                        <nav class="nav nav-tabs nav-justified">
                            <a class="nav-item nav-link {{ settingsId == 'stats' ? 'active' }}" href="/settings">Статистика</a>
                            <a class="nav-item nav-link {{ settingsId == 'main' ? 'active' }}" href="/settings/main">Основные настройки</a>
                            <a class="nav-item nav-link {{ settingsId == 'servers' ? 'active' }}" href="/settings/servers">Настройки серверов</a>
                            <a class="nav-item nav-link {{ settingsId == 'limits' ? 'active' }}" href="/settings/limits">Ограничения</a>
                            <div class="p-0 nav-item nav-link {{ settingsId == 'users' ? 'active' }}">
                                <a href="/settings/users" class="nav-item nav-link">Пользователи</a>
                                <a href="/settings/users/add" class="btn btnBadge btn-sm btn-success">&plus;</a>
                            </div>
                        </nav>
                        <div class="card rounded-0">
                            <div class="card-body">
                                <div id="alertContainer"></div>
                                {% block settingsContent %}{% endblock %}
                            </div>
                        </div>

                        <p class="mt-2 mb-0 text-center text-muted">Вы вошли как: <u>{{ core.user.email }}</u>. <a href="/logout">Выйти из аккаунта</a>.</p>
                        <p class="mt-0 mb-0 text-center"><a href="/">Вернуться</a></p>
                        <p class="text-muted mb-0 text-center"><a class="text-muted" href="https://whileteam.ru/" target="_blank">2018 &copy; Whileteam</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additionalJs %}
    <script src="/js/asettings.js"></script>
{% endblock %}