{% extends 'controllers/admin/settings.twig' %}

{% set pageTitle = 'Статистика' %}
{% set settingsId = 'stats' %}
{% block settingsContent %}
    <div class="row">
        <div class="col-12 col-md-6 pt-3">
            {% for stats in data.stats %}
                {% for statItem in stats %}
                    <p class="h5">{{ statItem.title }} <span
                                class="badge badge-dark ml-2 fix-topMargin t-3">{{ statItem.value }}</span></p>
                {% endfor %}
                {{ (loop.last != true) ? '<hr>' }}
            {% endfor %}
        </div>
        <div class="col-12 col-md-6">
            <div class="border p-3">
                <p class="text-center text-danger font-weight-bold h4">Утилиты</p>
                <div class="mb-3">
                    <a href="/settings/q/clearQueue" class="btn btn-dark btn-block">Отчистить очередь</a>
                    <a href="/settings/q/stopDaemons" class="btn btn-dark btn-block">Послать завершение работы всем демонам</a>
                </div>

                <p class="text-center font-weight-bold h4">Демоны</p>
                <div class="mt-2">
                    {% for srv in data.pids %}
                        <p class="mb-1 border-b-dashed">
                            {{ srv.title }}:
                            {% if srv.status == 1 %}
                                <span class="text-success font-weight-bold float-right">Онлайн</span>
                            {% else %}
                                <span class="text-danger font-weight-bold float-right">Оффлайн</span>
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}