{% extends 'global.twig' %}
{% set pageTitle = 'Консоль' %}

{% block content %}
    <div class="centeredContent">
        <div class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                        <h1 class="h1 font-weight-light text-center text-uppercase mb-3">RCON Консоль</h1>

                        <form action="/server/" class="mb-2 pl-2 pr-2 pl-md-0 pr-md-0">
                            <select class="form-control" name="server" id="server" required onchange="return window.location.href = '/server/' + this.value" {{ data.server == false ? 'autofocus' }}>
                                <option {{ data.server == false ? 'selected' }} disabled>Выберите сервер</option>
                                {% for server in data.servers %}
                                    <option {{ data.server.id == server.id ? 'selected' }} value="{{ server.id }}">{{ server.title }}</option>
                                {% endfor %}
                            </select>
                        </form>

                        {% if data.server != false %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-center">Сервер: <span class="text-primary">{{ data.server.title }}</span></h5>

                                    <div class="console c-wait">
                                        <ul></ul>
                                        <form action="/sendCommand/{{ data.server.id }}">
                                            <div class="input-group m-0">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">/</span>
                                                </div>
                                                <input name="command" type="text" class="form-control form-control-lg" placeholder="Введите команду..." title="Введите команду" maxlength="256" required disabled autofocus autocomplete="off">
                                                <div class="input-group-append">
                                                    <button class="btn btn-dark pr-4 pl-4" type="submit" disabled>Отправить</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <p class="mt-2 mb-0 text-center text-muted">Вы вошли как: <u>{{ core.user.email }}</u>. <a href="/logout">Выйти из аккаунта</a>.</p>
                        {% if core.user.is_admin == true %}
                            <p class="mb-0 text-center">
                                <a href="/settings">Администрирование</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% if data.server != false %}
    {% block additionalJs %}
        <script src="/js/console.js"></script>
    {% endblock %}
{% endif %}
